dtd/booking.dtd

<!ELEMENT booking (from,to)>
<!ELEMENT from (year, month, day, hour, minute, second)>
<!ELEMENT to (year, month, day, hour, minute, second)>
<!ELEMENT year (#PCDATA)>
<!ELEMENT month (#PCDATA)>
<!ELEMENT day (#PCDATA)>
<!ELEMENT hour (#PCDATA)>
<!ELEMENT minute (#PCDATA)>
<!ELEMENT second (#PCDATA)>
<!ATTLIST booking 
    xmlns:xlink CDATA #IMPLIED
    xlink:href CDATA #IMPLIED
    xlink:xmlns CDATA #IMPLIED
    xlink:type CDATA #IMPLIED>
